<h1>Posts</h1>

<%= link_to "Nouveau Post", new_post_path %>

<div id="posts">
  <% @posts.each do |post| %>
    <h2><%= link_to post.name, post %></h2>
    <p><%= post.description %></p>
  <% end %>
</div>
